.content-section {
    display: none;
}
a{
    text-align: right;
    text-decoration: none;
    color: lightgray;
}
.hidden {
    display: none !important;
}

.content-section[data-active="true"] {
    display: block;
}

.list-group-item-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}