/* INDEX */
.logo {
    width: 100px;
    height: auto;
}
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
}
.nav-item a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white;
}

.hidden {
    display: none !important;
}

.inicio {
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
}

.inicio-titulo {
   color: whitesmoke;
    margin-top: 60%;
    text-shadow: 4px 4px 6px #FFD000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.intro h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.intro p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 1%;
}
.inicio-tituloo {
    margin-top: 50px;  
    margin-bottom: 10px;
}
.inicio-artistas {
    margin-top: 0px;  
    margin-bottom: 0px;
}
.bi{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-shadow: 0 0 4px #000000, 0 0 8px #ffe680, 0 0 15px #ffd700, 0 0 30px #b8860b;
}
footer { 
    background-color: black; 
    font-family: Times, serif; 
    text-align: center; 
    color: white; 
    padding: 5px; 
}
footer a { 
    color: white; 
    text-decoration: none; 
    margin: 0 10px; 
}
footer i{
    text-shadow: 0 0 4px #000000, 0 0 8px #ffe680, 0 0 15px #ffd700, 0 0 30px #b8860b;
}
.col ul li{
     list-style: none;
     text-align: left;
}
.bi {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fab {
    color: white;
    font-size: 1.6em;
}

.fab:hover {
    color: #7791af;
}

body {
    background: #07113A;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0; 
}

section {
    max-width: 450px;
    margin: 50px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}

label {
    margin-top: 10px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: 0.2s;
}

input:focus {
    box-shadow: 0 0 5px rgb(202, 203, 228);
}

input[type="submit"] {
    width: 100%;
    margin-top: 15px;
    background: #515776;
    background: linear-gradient(135deg, #515776, #838aac);
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

section p {
    text-align: center;
    margin-top: 15px;
}

section a {
    color: #899ab5;
    font-weight: 600;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

.mb-4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px #000000, 0 0 8px #ffe680, 0 0 15px #ffd700, 0 0 30px #b8860b;
}
#catalogo-discos .card {
    font-family: 'Times New Roman', Times, serif; 
    background-color: whitesmoke;
    color: black;
    border: none;
}

#catalogo-discos .card-title {
    font-size: 1rem;
    font-weight: bold;
}

#catalogo-discos .card-text {
    font-size: 0.9rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#catalogo-discos .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: transparent;
    border-top: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    gap: 1rem;
}
#catalogo-discos .badge {
    font-size: 0.9rem;
    padding: 0.4em 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#catalogo-discos .btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
main.container {
    margin-bottom: 60px;
}

section {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
html, body {
    height: 100%;
}

body {
    background: #07113A !important;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
